In [1]:
#1.
import pandas as pd

# Create a Pandas Series
my_series = pd.Series([4, 8, 15, 16, 23, 42])

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#2.
import pandas as pd

# Create a list variable
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list to a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#3.
import pandas as pd

# Create a dictionary with the data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
#4.
'''In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types. It is similar to a table in a relational database or a spreadsheet in Excel. Each column of a DataFrame is a Pandas Series.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It can be seen as a single column of data from a DataFrame.

Here's an example to illustrate the difference between a DataFrame and a Series:'''

import pandas as pd

# Create a dictionary with some data
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

# Create a Pandas DataFrame
df = pd.DataFrame(data)

# Access the 'Name' column as a Series
name_series = df['Name']

# Print the DataFrame and the Series
print('DataFrame:')
print(df)
print('\nSeries:')
print(name_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [5]:
#5.
'''Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

head() and tail(): used to view the first or last few rows of a DataFrame, respectively.'''
import pandas as pd

# Create a Pandas DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],
                   'Age': [25, 30, 27],
                   'Gender': ['Female', 'Male', 'Female']})

# View the first few rows of the DataFrame
print(df.head())

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [6]:
'''describe(): used to get a summary of the statistics (count, mean, standard deviation, etc.) of the DataFrame.'''
import pandas as pd

# Create a Pandas DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],
                   'Age': [25, 30, 27],
                   'Gender': ['Female', 'Male', 'Female']})

# Get a summary of the statistics of the DataFrame
print(df.describe())

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [7]:
'''groupby(): used to group the DataFrame by one or more columns and perform an aggregate function on each group. For example, you can group a DataFrame of sales by product and compute the total revenue for each product.'''
import pandas as pd

# Create a Pandas DataFrame of sales
sales_df = pd.DataFrame({'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
                         'Revenue': [100, 200, 150, 250, 125, 175]})

# Group the sales DataFrame by product and compute the total revenue for each product
total_revenue = sales_df.groupby('Product')['Revenue'].sum()
print(total_revenue)

Product
A    375
B    625
Name: Revenue, dtype: int64

In [8]:
#drop(): used to drop a column or row from the DataFrame.
import pandas as pd

# Create a Pandas DataFrame
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],
                   'Age': [25, 30, 27],
                   'Gender': ['Female', 'Male', 'Female']})

# Drop the 'Gender' column from the DataFrame
df = df.drop('Gender', axis=1)
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

In [ ]:
#6.
'''Both Series and DataFrame are mutable in nature, which means that you can modify their contents after they are created. A Series can be modified by changing the values of its elements, while a DataFrame can be modified by adding or removing columns or rows, or by changing the values of its elements.

However, a Panel is a 3-dimensional data structure in Pandas that is no longer recommended to use as it has been deprecated. Nonetheless, a Panel is also mutable.'''

In [9]:
#7.
import pandas as pd

# Create three Pandas Series for Name, Age and Gender
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Combine the three Series into a single DataFrame
df = pd.DataFrame({'Name': name_series,
                   'Age': age_series,
                   'Gender': gender_series})

# Print the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
'''In this example, we created three Pandas Series for the Name, Age, and Gender of three people. We then combined these three Series into a single DataFrame using the pd.DataFrame() function. The resulting DataFrame has three columns for Name, Age, and Gender, and three rows of data. Each column of the DataFrame corresponds to a Pandas Series.'''